
<%= form_for :user,url: url,html: {id: "login-form",method: :post} do |f| %>
  <% page_url = request.path %>
  <% unless page_url == '/users/login_form' || page_url == '/' %>
    <div class= "form-group user-login">
      名前:<%= f.text_field :name,id: "name",class: "form-control",placeholder: "名前を入力してください" %>
    </div>
  <% end %>
  <div class = "form-group user-login">
    メールアドレス:<%= f.text_field :email,id: "email",class: "form-control",placeholder: "メールアドレスを入力してください" %>
  </div>
  <div class = "form-group user-login">
    パスワード:<%= f.password_field :password,id: "password",class: "form-control",placeholder: "パスワードを入力してください" %>
  </div>
  <%= f.submit @submit,id: "btn-login",class: "btn login-btn header-link" %>
<% end %>
 