<div class = "book-content">
<div class= "img-style book-left">
<%= link_to (image_tag book.img.url),book_path(book.id)%>
</div>
<div class = "book-right">
  <h1 class="book-title">
    <strong>
     <%= link_to book.title,book_path(book.id) %>
    </strong>
  </h1>
  <p class = "book-text">
    <%= book.text.truncate(70) %>
  </p>
</div>
  <% if session[:user_id] != nil  %>
   <%= render partial: 'books/like_btn',locals: {book: book} %>
  <% else %>
  <div class = "counter-box">
    <div class = "like-count">
      いいね
      <%= Like.where(book_id: book.id).count %>
      件
    </div>
    <div class = "recommend_count">
      お気に入り
      <%= book.recommend_counter %>
      件
    </div>
  </div>
    
  <% end %>
  <%= link_to user_path(book.user.id),class: "user-img-box" do %>
    <%= image_tag book.user.img.url,class: "user-img" %>
    <%= book.user.name %>
  <% end %>  

