<h1>検索結果一覧</h1>
<div class = "list">
  <ul class = "tab-head">
    <% if params[:tag_search].present? && params[:search].present? %>
      <li class = "">
        <%= params[:search] %>,<%= params[:tag_search]%>検索に一致する幸せ投稿 
      </li>
    <% elsif params[:tag_search].present? %>
      <li class = "">
        <%= params[:tag_search] %>のタグがついている投稿一覧 
      </li>
    <% elsif params[:search].present? %>
      <li class = "">
        <%= params[:search] %>のタイトルがついている投稿一覧 
      </li>
    <% end %>
  </ul>
  
  <ul class = "tab-body">
    <li class = "on">
      <%= render partial: 'books/book_template' %>
    </li>
  </ul>
</div>